.venv/
venv/

__pycache__/
scripts/v01_analysis/__pycache__
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
docs/output/log*.md

paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.out
paper/*.toc

.mplconfig/

.DS_Store
.vscode/


BACI_HS07_V202601/
