.venv/
venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
docs/output/log*.md
docs/history
docs/project
docs/prompts

paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.out
paper/*.toc
paper/*.lof
paper/*.lot

.mplconfig/

.DS_Store
.vscode/


BACI_HS07_V202601/
BACI_HS07_V202601.zip
4  论文要素及格式要求（含封面页）(1).docx
paper/新建 Microsoft Word 文档.docx
paper/新建 Microsoft Word 文档.pdf
