.venv/
venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
docs/output/log*.md
docs/history
docs/project
docs/prompts

paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.out
paper/*.toc

.mplconfig/

.DS_Store
.vscode/


BACI_HS07_V202601/
